html, body, .container-fluid, .content-row {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: #cce5ff;
}

/* background changes depending of time day or night */
.day {
    background-color:#f9f9f9;
   
  }
  
.night {
    background-color:#F9F1F1;
  }
 